* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    padding-block: 8px;
    place-content: center;
    background-color: aquamarine;
}

.galeria {
    display: columns;
    columns: 3;
    color: white;
}

.galeria div {
    position: relative;
    text-align: center;
}

.galeria img {
    position: relative;
    width: 100%;
    text-align: center;
    color: blue;
    padding-block: 8px;
    border: 4px solid white;
}

div h2 {
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    background-color: black;
    box-shadow: 16px 16px #0000;
    bottom: 8px;
}

.galeria 
